.col-6 {
  margin: 0 auto;
}
.list-group-item {
  margin-top: 10px;
  border: 1px solid gray !important;
  display: flex;
  align-items: center;
}
.deleteBtn {
  margin-left: auto !important;
}
span.btn.btn-danger {
  margin-left: auto;
}
.btn {
  width: 100px;
}
#removeAllBtn {
  margin-left: 10px;
}
